@page
@model IndexModel
@{
    ViewData["Title"] = "Speaker recongnition";
}

<div class="url-input-form">
    <form method="post">
        <input id="yt-url" class="url-input" type="text" value="" placeholder="Youtube url" />
        <button id="process-video-button" class="btn btn-primary">Process</button>
    </form>
</div>

@section Scripts{
    <script type="text/javascript">
    </script>
}
