@page
@model IndexModel
@{
    ViewData["Title"] = "Speaker recognition";
}

<form class="url-input-form" method="post">
    <input asp-for="YoutubeUrl" class="url-input" type="text" value="" placeholder="Youtube url" />
    <button id="process-video-button" class="btn btn-primary">Process</button>
</form>
<hr />
