@page
@model IndexModel
@{
    ViewData["Title"] = "Speaker recongnition";
}

<div class="url-input-form">
    <input id="yt-url" class="url-input" type="text" value="" placeholder="Youtube url" />
    <button id="process-video-button" class="btn btn-primary">Process</button>
</div>

@section Scripts{
    <script type="text/javascript">
        $('#process-video-button').click(() => {
            console.log("PROCESSING");
            const url = $('#yt-url').val();
            //TODO call downloading audio
        });
    </script>
}
